.ant-table-wrapper table {
  text-align: center;
  border: 1px black solid;
  border-radius: 8px;
  font-weight: 500;
}

.ant-table-thead > tr > th {
  background-color: rgb(13, 13, 94) !important;
  color: white !important;
  text-align: center !important;
}

.custom-table-row:nth-child(odd) {
    background-color: #e9e8e8;
  }